datasets/
# DATA
data/image_data
data/yolo_data
data/yolo_oiv7
data/yolov10_lvis

# t5
models/t5/toy_data
models/t5/transfer_0
models/t5/transfer_1
models/t5/transfer_1_large

# gpt2
models/gpt2/gpt2_base_0/
models/gpt2/gpt2_base_1/
models/gpt2/kogpt2_0/
models/gpt2/kogpt2_1/
models/gpt2/kogpt2_2/

# yolo


frontend/
api.json

yolov8n.pt

models/yolov10/runs/detect/train/train_batch0.jpg
models/yolov10/runs/detect/train/train_batch1.jpg
models/yolov10/runs/detect/train/train_batch2.jpg
models/yolov10/runs/detect/train/val_batch0_labels.jpg
models/yolov10/runs/detect/train/val_batch0_pred.jpg
models/yolov10/runs/detect/train/val_batch1_labels.jpg
models/yolov10/runs/detect/train/val_batch1_pred.jpg
models/yolov10/runs/detect/train/val_batch2_labels.jpg
models/yolov10/runs/detect/train/val_batch2_pred.jpg
models/yolov8x-oiv7.pt
models/yolov10n-face.pt
models
