data/image_data
data/yolo_data
data/yolo_oiv7
data/yolov10_lvis

models/t5/toy_data
models/t5/transfer_0
models/t5/transfer_1
models/t5/transfer_1_large

models/yolov10/pt_models/
models/yolov10/runs/
models/od_models/yolov10/
frontend/
api.json