datasets/
# DATA
data/
data/image_data
data/yolo_data
data/yolo_oiv7
data/yolov10_lvis

# t5
models/t5/toy_data
models/t5/transfer_0
models/t5/transfer_1
models/t5/transfer_1_large

# gpt2
models/gpt2/gpt2_base_0/
models/gpt2/gpt2_base_1/
models/gpt2/kogpt2_0/
models/gpt2/kogpt2_1/
models/gpt2/kogpt2_2/

# yolo

frontend/
api.json

yolov8n.pt

models/yolov10/runs/detect/train/train_batch0.jpg
models/yolov10/runs/detect/train/train_batch1.jpg
models/yolov10/runs/detect/train/train_batch2.jpg
models/yolov10/runs/detect/train/val_batch0_labels.jpg
models/yolov10/runs/detect/train/val_batch0_pred.jpg
models/yolov10/runs/detect/train/val_batch1_labels.jpg
models/yolov10/runs/detect/train/val_batch1_pred.jpg
models/yolov10/runs/detect/train/val_batch2_labels.jpg
models/yolov10/runs/detect/train/val_batch2_pred.jpg

models/yolov10/runs/detect/val/val_batch0_labels.jpg
models/yolov10/runs/detect/val/val_batch0_pred.jpg
models/yolov10/runs/detect/val/val_batch1_labels.jpg
models/yolov10/runs/detect/val/val_batch1_pred.jpg
models/yolov10/runs/detect/val/val_batch2_labels.jpg
models/yolov10/runs/detect/val/val_batch2_pred.jpg


models/yolov8x-oiv7.pt
models/yolov10n-face.pt
modles/yolov10/train/weights
output

# 모델 파일
models/faster_rcnn_R_50_FPN_3x/events.out.tfevents.1725604008.tommy.166249.0
models/faster_rcnn_R_50_FPN_3x/events.out.tfevents.1725608719.tommy.166249.1
models/faster_rcnn_R_50_FPN_3x/events.out.tfevents.1725668449.tommy.166249.2
models/faster_rcnn_R_50_FPN_3x/instances_predictions.pth
models/faster_rcnn_R_50_FPN_3x/last_checkpoint
models/faster_rcnn_R_50_FPN_3x/model_0.pth
models/faster_rcnn_R_50_FPN_3x/model_0000499.pth
models/faster_rcnn_R_50_FPN_3x/model_0000999.pth
models/faster_rcnn_R_50_FPN_3x/model_1000.pth
models/faster_rcnn_R_50_FPN_3x/model_0001499.pth
models/faster_rcnn_R_50_FPN_3x/model_0001999.pth
models/faster_rcnn_R_50_FPN_3x/model_2000.pth
models/faster_rcnn_R_50_FPN_3x/model_0002499.pth
models/faster_rcnn_R_50_FPN_3x/model_0002999.pth
models/faster_rcnn_R_50_FPN_3x/model_3000.pth
models/faster_rcnn_R_50_FPN_3x/model_0003499.pth
models/faster_rcnn_R_50_FPN_3x/model_0003999.pth
models/faster_rcnn_R_50_FPN_3x/model_4000.pth
models/faster_rcnn_R_50_FPN_3x/model_0004499.pth
models/faster_rcnn_R_50_FPN_3x/model_0004999.pth
models/faster_rcnn_R_50_FPN_3x/model_5000.pth
models/faster_rcnn_R_50_FPN_3x/model_0005499.pth
models/faster_rcnn_R_50_FPN_3x/model_0005999.pth
models/faster_rcnn_R_50_FPN_3x/model_6000.pth
models/faster_rcnn_R_50_FPN_3x/model_0006499.pth
models/faster_rcnn_R_50_FPN_3x/model_0006999.pth
models/faster_rcnn_R_50_FPN_3x/model_7000.pth
models/faster_rcnn_R_50_FPN_3x/model_0007499.pth
models/faster_rcnn_R_50_FPN_3x/model_0007999.pth
models/faster_rcnn_R_50_FPN_3x/model_8000.pth
models/faster_rcnn_R_50_FPN_3x/model_0008499.pth
models/faster_rcnn_R_50_FPN_3x/model_0008999.pth
models/faster_rcnn_R_50_FPN_3x/model_9000.pth
models/faster_rcnn_R_50_FPN_3x/model_0009499.pth
models/faster_rcnn_R_50_FPN_3x/model_0009999.pth
models/faster_rcnn_R_50_FPN_3x/model_10000.pth
models/faster_rcnn_R_50_FPN_3x/model_0010499.pth
models/faster_rcnn_R_50_FPN_3x/model_0010999.pth
models/faster_rcnn_R_50_FPN_3x/model_11000.pth
models/faster_rcnn_R_50_FPN_3x/model_0011499.pth
models/faster_rcnn_R_50_FPN_3x/model_0011999.pth
models/faster_rcnn_R_50_FPN_3x/model_12000.pth
models/faster_rcnn_R_50_FPN_3x/model_0012499.pth
models/faster_rcnn_R_50_FPN_3x/model_0012999.pth
models/faster_rcnn_R_50_FPN_3x/model_13000.pth
models/faster_rcnn_R_50_FPN_3x/model_0013499.pth
models/faster_rcnn_R_50_FPN_3x/model_0013999.pth
models/faster_rcnn_R_50_FPN_3x/model_14000.pth
models/faster_rcnn_R_50_FPN_3x/model_0014499.pth
models/faster_rcnn_R_50_FPN_3x/model_0014999.pth
models/faster_rcnn_R_50_FPN_3x/model_15000.pth
models/faster_rcnn_R_50_FPN_3x/model_0015499.pth
models/faster_rcnn_R_50_FPN_3x/model_0015999.pth
models/faster_rcnn_R_50_FPN_3x/model_16000.pth
models/faster_rcnn_R_50_FPN_3x/model_0016499.pth
models/faster_rcnn_R_50_FPN_3x/model_0016999.pth
models/faster_rcnn_R_50_FPN_3x/model_17000.pth
models/faster_rcnn_R_50_FPN_3x/model_0017499.pth
models/faster_rcnn_R_50_FPN_3x/model_0017999.pth
models/faster_rcnn_R_50_FPN_3x/model_18000.pth
models/faster_rcnn_R_50_FPN_3x/model_0018499.pth
models/faster_rcnn_R_50_FPN_3x/model_0018999.pth
models/faster_rcnn_R_50_FPN_3x/model_19000.pth
models/faster_rcnn_R_50_FPN_3x/model_0019499.pth
models/faster_rcnn_R_50_FPN_3x/model_0019999.pth
models/faster_rcnn_R_50_FPN_3x/model_20000.pth
models/faster_rcnn_R_50_FPN_3x/model_0020499.pth
models/faster_rcnn_R_50_FPN_3x/model_0020999.pth
models/faster_rcnn_R_50_FPN_3x/model_21000.pth
models/faster_rcnn_R_50_FPN_3x/model_0021499.pth
models/faster_rcnn_R_50_FPN_3x/model_0021999.pth
models/faster_rcnn_R_50_FPN_3x/model_22000.pth
models/faster_rcnn_R_50_FPN_3x/model_0022499.pth
models/faster_rcnn_R_50_FPN_3x/model_0022999.pth
models/faster_rcnn_R_50_FPN_3x/model_23000.pth
models/faster_rcnn_R_50_FPN_3x/model_0023499.pth
models/faster_rcnn_R_50_FPN_3x/model_0023999.pth
models/faster_rcnn_R_50_FPN_3x/model_24000.pth
models/faster_rcnn_R_50_FPN_3x/model_final.pth
models/faster_rcnn_R_50_FPN_3x/metrics_out/metrics_valid.json/instances_predictions.pth
models/faster_rcnn_R_50_FPN_3x/faster_rcnn_r_50_final_model.pth
