notebook
TensorFlow
numpy
pandas
matplotlib
opencv-python
ultralytics
pillow
google-generativeai
openai
TensorFlow
tensorboard
transformers
datasets
accelerate
scikit-learn
tf-keras
torch
torchvision
pillow
